@page
@model WebUI.Pages.ProductTypes.IndexModel
@{
    ViewData["Title"] = "Види товарів";
}

<h2>Види товарів</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Код</th>
            <th>Назва</th>
            <th>Опис</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var type in Model.Data)
    {
        <tr>
            <td>@type.Id</td>
            <td>@type.Name</td>
            <td>@type.Description</td>
        </tr>
    }
    </tbody>
</table>
