@page
@model WebUI.Pages.Services.IndexModel
@using System.Globalization
@{
    ViewData["Title"] = "Послуги";
}

<h2>Список послуг</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Назва</th>
            <th>Опис</th>
            <th>Вартість</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var s in Model.Data)
    {
        <tr>
            <td>@s.Id</td>
            <td>@s.Name</td>
            <td>@s.Description</td>
            <td>@s.Cost.ToString("C", new CultureInfo("uk-UA"))</td>
        </tr>
    }
    </tbody>
</table>
